@import "~assets/styles/media";

.titleWrapper {
  padding: 0 22px 0 20px;

  @media screen and (min-width: $desktop) {
    padding: 0 22px 0 127px;
  }
}

.title {
  font-size: 36px;
  line-height: 120%;
  margin-left: 25px;

  @media screen and (min-width: $desktop){
    text-transform: uppercase;
    font-size: 64px;
    margin-left: 38px;
    letter-spacing: 0.05em;
  }
}

.members {
  display: flex;
  gap: 49px;
  padding: 27px 22px 0;

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 42px;
    justify-content: center;
    border-right: 1px solid #343A3D;
    padding: 61px 0 56px;
  }
}

.text {
  font-family: 'Big Pixel', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: #80898F;
  margin-top: 12px;

  @media screen and (min-width: $desktop) {
    color: #C1C0C0;
    width: 225px;
  }
}

.table {
  display: grid;
  margin-top: 42px;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #343A3D;
  border-bottom: 1px solid #343A3D;
}

.secondBlock {
  display: flex;
  flex-direction: column;
}

.membersMobile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #343A3D;
  padding: 43px 142px 51px 75px;
}

.membersAmount {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
}

.membersText {
  font-size: 14px;
}

.team {
  background-image: url("../../../assets/images/team.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 130px 80px 74px;
}

.photo {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/teamMain.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mobileMembers {
  display: flex;
  font-size: 24px;
  align-items: flex-end;
  font-family: 'Big Pixel', sans-serif;
  color: #FFFFFF;
}

.mobileMembersText {
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 5px;
}

