.titleWrapper {
  padding: 0 22px 0 20px;
}

.members {
  display: flex;
  gap: 49px;
  padding: 27px 22px 0;
}

.text {
  font-family: 'Big Pixel', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: #80898F;
  margin-top: 12px;
}
