// common
.containerTypesCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 75px 0 150px 0;
}

.morphBlock {
  display: flex;
  height: min-content;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-family: 'Hanson', sans-serif;
  font-size: 32px;
  height: 38px;
  text-align: center;
  margin-left: 12px;
  color: #FFFFFF;
}

.descr {
  margin-top: 16px;
  width: 70%;
}

.idImage {
  margin-top: 23px;
  width: 100%;
  max-width: 265px;
}

.contentBlock {
  height: 750px;
  display: grid;
  grid-template-rows: auto 25% auto;
  flex-direction: column;
}

// Classique or Miho
.classiqueParagraph {
  display: flex;
  align-items: center;
}

.eternalParagraph {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Eternal or Henri
.mihoText {
  margin-top: 16px;
  text-align: left;
}

.eternalBlock {
  margin-left: auto;
}

.henriText {
  text-align: right;
  margin-left: auto;
}

.idImageHenri {
  margin-left: auto;
}

.eternalTitle {
  color: #B7F201
}