@import '~assets/styles/media.scss';

.topBlockImages {
  position: relative;
  margin-top: 28px;
  margin-left: 57px;

  @media screen and (max-width: $desktop){
    margin-left: 0;
    margin-top: 63px;
    width: 375px;
  }

  @media screen and (max-width: $l-mobile){
    width: 100%;
  }

  @media screen and (min-width: $desktop){
    &:after {
      content: '';
      position: absolute;
      width: 618px;
      height: 266px;
      left: -76px;
      bottom: -79px;
      z-index: 5;
      background: #0B0B0C;
      filter: blur(75px);
    }

    &:before {
      content: '';
      position: absolute;
      height: 312px;
      width: 300px;
      right: -100px;
      top: 0;
      background: #0B0B0C;
      filter: blur(75px);
      transform: rotate(90deg);
    }
  }
}

.morphCard {
  position: absolute;
  top: 131px;
  right: -92px;
  width: 294px;
  height: 555px;
  z-index: 10;

  @media screen and (max-width: $desktop){
    width: 222px;
    height: 419px;
    top: 99px;
    right: 21px;
  }

  @media screen and (max-width: $l-mobile){
    right: 20px;
  }
}

.morph {
  width: 453px;
  height: 735px;
  z-index: 2;

  @media screen and (max-width: $desktop){
    position: relative;
    left: -100px;
    width: 372.05px;
    height: 613.27px;
  }
}

.morphMobile {
  width: 95%;
}
