.container {
  z-index: -5;
  opacity: 0.3;
}

.right {
  position: absolute;
  right: 0;
  top: -100px;
  height: 767.62px;
}

.ellipse {
  position: absolute;
  width: 413px;
  height: 832px;
  right: 0;
  top: -100px;
  background: #0B0B0C;
  filter: blur(75px);
  transform: rotate(90deg);
}
