@import '~assets/styles/variables.scss';
@import '~assets/styles/media.scss';
@import '~assets/styles/mixins.scss';

.container {
	padding: 150px 0;
}

// title
.titleChooseMorph {
	display: grid;
	grid-template-columns: 51% 49%;
	align-items: center;
	padding: 0 120px;
	margin-bottom: 80px;
}

.titleLeftSide {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

	font-size: 4vw;
	margin-left: auto;
	text-align: right;
	line-height: 1;

  margin-right: 28px;
}

.wrapperContentTitleLeftSide {
	width: 100%;
	align-items: self-end;
    padding-right: 5px;
}

.titleRightSide {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 16px;
	margin-left: 28px;
	line-height: 26px;
}

@media screen and (max-width: $m-desktop) {
  .container {
    padding: 0;
  }

  .titleRightSide {
    display: none;
  }

  .titleLeftSide {
    justify-content: flex-start;
  }

  .titleChooseMorph {
    grid-template-columns: 1fr;
    padding: 0 120px;
    margin-bottom: 7vw;
  }

  .wrapperContentTitleLeftSide {
    align-items: self-start;
  }

  .titleChooseMorph {
    margin-top: 120px;
  }

  .titleLeftSide {
    font-size: 64px;
    margin-left: 28px;
    margin-right: 0;
  }

  .titleRightSide {
    margin-top: 25px;
  }
}

@media screen and (max-width: $desktop) {
  .container {
    padding: 120px 0;
  }

  .titleChooseMorph {
    padding: 0 20px;
    margin-bottom: 0;
  }

  .titleLeftSide {
    @include prtnlSclScrnSize(font-size, 70);
    margin-left: 28px;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    br {
      display: none;
    }
  }

  .titleRightSide {
    display: none;
  }
}

@media screen and (max-width: $s-tablet) {
  .titleLeftSide {
    font-size: 36px;
  }
}

@media screen and (max-width: $m-mobile) {
  .titleLeftSide {
    font-size: 32px;
  }
}

@media screen and (max-width: $s-mobile) {
  .titleLeftSide {
    $fontSizePx: 100vw * 30 / 360;
    font-size: $fontSizePx;
  }
}
