@import "../../../assets/styles/variables.scss";

.container {
  margin: 93px 0;
}

.activeCard {
  transform: translateY(-15px);
}

.card {
  cursor: pointer;
  transition: transform .5s ease-in;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.person {
  display: grid;
  max-width: 1080px;
  margin: 53px auto 0 auto;
  grid-template-columns: 370px 1fr;
  column-gap: 80px;
}


.about {
  padding-top: 5px;
  padding-right: 20px;
  color: #fff;
}

.aboutPerson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}

.number {
  font-family: 'Hanson', serif;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
  --b: 1px; /* thickness of the border */
  --c: rgba(255, 255, 255, 0.5); /* color of the border */
  --w: 7px; /* width of border */
  width: 107px;

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0    / var(--_p),
  conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0    / var(--_p),
  conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
  conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

}

.bioContainer {
  display: flex;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 19px;
}

.bioTitle {
  font-family: "Hanson", sans-serif;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #50545A;
  margin-right: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Big Pixel', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #545E63;
}

.bioLine {
  height: 1px;
  background: #50545A;
  width: 100%;
}

.name {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 6px;
}

.birth {
  margin-top: 16px;
}

.row {
  display: flex;
  align-items: center;
}

.parameters {
  margin-top: 19px;
}

.subtitle {
  font-family: 'Dharma Gothic E', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.16em;
  color: #fff;
  margin-top: 5px;
}

.parametersName {
  font-family: 'Dharma Gothic E', serif;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0.16em;
  line-height: 120%;
}

.numeric {
  font-size: 8px;
  line-height: 11px;
  letter-spacing: 0.32em;
  color: $green;
  margin-top: 4px;
}

.location {
  margin-top: 17px;
}

.description {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.description:first-of-type {
  margin-top: 6px;
  margin-bottom: 4px;
}

.skill {
  margin-top: 15px;
}

.skillsContainer {
  display: flex;
  margin-left: -8px;
}

.skillsContainer img {
  margin-right: -5px;
}

.skill .title {
  margin-bottom: 9px;
}

.codeWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.codeAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 10px;
}

.codeImage {
  -moz-box-shadow: 10px 0 20px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}


.barWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 34px;
  padding: 0 20px;
}

.attributesContainer {
  margin-top: 32px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  margin-bottom: 16px;
}

.attributesTitle {
  font-family: 'Hanson', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #50545A;
  margin-right: 59px;
}


.barProgress {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.barTitle {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.16em;
  color: #FFFFFF;
}

.barImage {
  height: 20px;
  max-width: 220px;
}

.barPercentage {
  font-size: 14px;
  line-height: 18px;
  margin-left: 9px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .person {
    max-width: 100%;
  }

}

@media screen and (max-width: 965px) {
  .person {
    grid-template-columns: 148px 1fr;
  }

  .image {
    width: 149px;
    height: 417px;
    margin-left: -21px;
    margin-top: -12px;
  }


  .codeImage {
    display: none;
  }

  .subtitle {
    font-size: 16px;
  }

  .person {
    column-gap: 14px;
  }

  .numeric {
    font-size: 8px;
  }

  .codeWrap {
    margin-top: 24px;
  }

  .codeAbout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
  }


  .faceImage {
    display: none;
  }

  .faceImageMobile {
    height: 84px;
    display: block;
  }

  .parametersName {
    font-size: 18px;
  }

  .wrap {
    background: #000;
    padding: 50px 0;
  }

}

@media screen and (max-width: 590px) {
  .barImage {
    max-width: 150px;
  }
}



