@import '~assets/styles/media.scss';
@import '~assets/styles/mixins.scss';

.flsMobileContainer {
	display: none;
}

@media screen and (max-width: $s-tablet) {
	.flsMobileContainer {
		display: block;
	}

	.wrapper {
		padding: 0 20px;
	}

	.title {
		position: relative;
		z-index: 3;
		font-family: 'Hanson', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;
		font-size: 36px;
		@include prtnlSclScrnSize(margin-bottom, 30);
	}

	.containerWithSmile {
		@include prtnlSclScrnSize(margin-top, 320);
	}

	.smile {
		position: relative;
		float: right;
		width: 100%;
		max-width: 85px;
		margin-left: 15px;
	}

	//video block
	.videoWrapper {
		position: relative;
	}

	.video {
		position: relative;
		width: 100%;
	}

	.blackSpot {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -14%;
		z-index: 1;
	}
}
