.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 219px;
  padding: 0 40px;
}

.column:first-child {
  padding: 0 40px 0 0;
}

.column:last-child {
  border: none;
}

.title {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

