.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 40px;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  border: none;
  padding-right: 0;
}

.title {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

