.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #343A3D;
  height: 219px;
  padding: 0 40px;
}

.column:first-child {
  padding: 0;
  padding-right: 40px;
}

.title {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

