@import "~assets/styles/media";

.topBlock {
  background: #151A1E;
  margin-top: 64px;
  padding: 54px 0 49px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 64px;
    top: -50px;
    right: 0;
    left: 0;
    background:linear-gradient(180deg, rgba(11, 11, 12, 1) 0%, rgba(15, 17, 19, 1) 50%, rgba(21, 26, 30, 1) 100%);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0.3;
    height: 1px;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(251, 191, 154, 0.3) -4.09%, rgba(255, 232, 118, 0.3) 9.96%, rgba(18, 249, 248, 0.3) 28.24%, rgba(156, 253, 130, 0.3) 55.1%, rgba(252, 241, 110, 0.3) 78.52%, rgba(254, 210, 146, 0.3) 105.6%);
  }

  @media screen and (max-width: $tablet){
    padding: 30px 0 24px;
  }
}

.titleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $tablet){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #fff;

  @media screen and (max-width: $tablet){
    font-size: 28px;
  }
}

.date {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #9CABBB;
}

.metamorph {
  display: block;
  margin: 0 auto 42px;
}
