.container {
  z-index: -10;
  opacity: 0.3;
}

.rightCorner {
  position: absolute;
  right: 0;
  top: -400px;
  height: 1302px;
}

.leftCorner {
  position: absolute;
  left: 0;
  top: 500px;
  height: 1302px;
}


