@import "~assets/styles/media.scss";

.infoMorphsContainer {
  display: flex;
  justify-content: center;
}

.infoBlock {
  margin-left: 1.2vw;
}

.infoTitle {
  margin-bottom: 8px;
}

.infoDetails {
  margin-bottom: 2vw;
}

// img im the middle
.imgMorphChoose {
  position: absolute;
  width: 100%;
}

.identifierBlock {
  // position: absolute;
}

.morphWrapper {
  overflow: hidden;
  position: relative;
  width: 19.483vw;

}
