.infoMorphsContainer {
  display: flex;
  justify-content: center;
}

.infoBlock {
  margin-left: 1.2vw;
}

.infoTitle {
  margin-bottom: 8px;
}

.infoDetails {
  margin-bottom: 2vw;
}

// img im the middle
.imgMorphChoose {
  width: 19.483vw;
}