@import "~assets/styles/media.scss";

.infoMorphsContainer {
  display: flex;
  justify-content: center;
}

.infoBlock {
  margin-left: 1.2vw;
}

.infoTitle {
  margin-bottom: 8px;
}

.infoDetails {
  margin-bottom: 2vw;
}

// img im the middle
.imgMorphChoose {
  position: absolute;
  width: 100%;
}

.identifierBlock {
  // position: absolute;
}

.morphWrapper {
  overflow: hidden;
  position: relative;
  width: 19.483vw;

  @media screen and (min-width: $desktop) {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 150px;
      width: 100%;
      background: linear-gradient(180deg, #0B0B0C 20%, rgba(0, 0, 0, 0) 96.17%);
      transform: rotate(-180deg);
    }
  }
}
