@import "../../assets/styles/variables.scss";

.topBlock {
  background-image: url("../../assets/images/top-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  min-height: 100vh;
}

.mainText {
  font-family: "Hanson", sans-serif;
  color: $green;
  text-transform: uppercase;
  font-size: 24px;
  margin: 57px auto 0;
  display: block;
  text-align: center;
  width: 300px;
  letter-spacing: 0.05em;
  line-height: 120%;
}

.morphImage {
  width: 375px;
  margin-top: -64px;
}

