@import '~assets/styles/media.scss';
@import '~assets/styles/mixins.scss';
@import '../../common/styles/card.module.scss';


.morphsContainer {
	display: grid;
	grid-template-columns: fit-content(26%) auto 1fr;
	gap: 25px;

	padding: 0 120px 0 0;
}

@media screen and (max-width: $desktop) {
	.morphsContainer {
    display: none;
	}
}

.morphCardsWrapper {
	display: flex;
	align-items: center;
	margin-top: 4.1vw;
}
