@import '~assets/styles/media.scss';
@import '~assets/styles/mixins.scss';

@media screen and (max-width: $desktop) {
  .infoMorphMobile {
    display: flex;
    gap: 35px;
    justify-content: center;
    border-top: 1px solid #343A3D;
    padding-top: 44px;
  }

  .imgMorphChooseMobile {
    width: 100%;
    max-width: 21vw;
  }

  .infoTitleAttr {
    margin-top: 3vw;
  }

  .infoBlockMobile {
    width: 50%;
  }
}

@media screen and (max-width: $tablet) {
  .infoMorphMobile {
    display: flex;
    align-items: flex-start;
    padding: 44px 20px 0 0;
  }

  .infoBlockMobile {
    width: 100%;
    margin-top: 8px;
  }

  .infoTitleAttr {
    display: none;
  }
  .attrTabletDesktop {
    display: none;
  }
  .imgMorphChooseMobile {
    position: relative;
    width: 100%;
    margin-left: -30px;
    max-width: 149px;
  }
}

