.titleDetail {
  font-family: 'Poppins';
  color: #50545A;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

// name & fongerprint
.nameFingerprintWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//name
.nameTitle {
  margin-bottom: 0;
}

.name {
  font-family: 'Big Pixel';
  font-size: 32px;
  color: #fff;
  letter-spacing: 0.05em;
}

//finger print
.fingerPrintWrapper {
  position: relative;
  padding: 5px;
}

.fingerPrint {
  height: 3.9vw;
  width: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerAbout {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 15px;
  column-gap: 32px;
}

.code {
  letter-spacing: 0.28em;
  background: linear-gradient(90deg, #FBBF9A -4.09%, #FFE876 9.96%, #12F9F8 28.24%, #9CFD82 55.1%, #FCF16E 78.52%, #FED292 105.6%), #B7F201;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}


.aboutData {
  font-family: 'Big Pixel';
  color: #fff;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}