@import "../../../assets/styles/media";

.content {
  display: flex;
  position: relative;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: 'Hanson', sans-serif;
}

.content:before {
  content: "";
  position: absolute;
  left: 2px;
  height: 81%;
  background: #fff;
  width: 3px;
}

