.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 40px;
  background: #242427;
}

.column {

  height: 370px;
  &:nth-child(1n+5) {
    & .header {
      border-bottom: 1px solid #5A5A6B;
      border-top: 1px solid #5A5A6B;
    }
  }
}

.headerText {
  position: absolute;
  top: -22px;
  left: 32px;
  font-family: 'Hanson', sans-serif;
  font-size: 53.2322px;
  line-height: 55px;
  color: #FFFFFF;
  text-shadow: 0 9.98104px 16.6351px rgba(0, 0, 0, 0.55);
}

.year {
  font-size: 13px;
  margin-right: 20px;
  line-height: 140%;
}

.title {
  font-size: 15px;
  line-height: 140%;
  font-weight: 400;
  color: #FFFFFF;
}

.subtitle {
  font-size: 12px;
  margin-top: 16px;
  line-height: 160%;
  color: #C1C0C0;
  height: 70%;
}

.content {
  padding: 20px;
  height: 100%;
}
