@import '~assets/styles/mixins.scss';
@import '~assets/styles/media.scss';

.container {
  position: relative;
  padding: 0 20px;

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include prtnlSclScrnSize(padding-top, 150);
    @include prtnlSclScrnSize(padding-right, 120);
    @include prtnlSclScrnSize(padding-bottom, 300);
    @include prtnlSclScrnSize(padding-left, 120);
  }
}

// content
.title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 18px;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
  }
}

.descrWrapper {
  margin-top: 13px;

  @media screen and (min-width: $desktop){
    margin-top: 30px;
    padding-left: 30px;
  }
}

.paragraph {
  font-family: 'Big Pixel', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-size: 13px;
  color: #C1C0C0;

  @media screen and (min-width: $desktop){
    font-size: 16px;
    color: #9BA1AA;
  }
}

.descrSection {
  margin-bottom: 11px;

  @media screen and (min-width: $desktop){
    margin-bottom: 50px;
  }
}

// icons
.icons {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 9px;

  @media screen and (min-width: $desktop){
    gap: 18px;
  }
}

.skillImg {
  width: 57px;

  @media screen and (min-width: $desktop){
    width: 4.8vw;
  }

  &.active {
    width: 71px;

    @media screen and (min-width: $desktop){
      width: 5.7vw;
    }
  }
}

// descr of icons
.skillTitle {
  font-family: 'Big Pixel', sans-serif;
  font-size: 20px;
  background: linear-gradient(90deg, #FF5D5D 0%, #FF55E4 57.6%, #E36A12 100%), #E312C2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 15px;
}


// morph fro the right
.morphImage {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    width: 100%;
    max-width: 22.53vw;
    border-radius: 30px;
    margin: 0 auto;
  }
}

.mobileMorph {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 240px;
    background-image: url("../../../assets/images/vector4.svg");
    bottom: 0;
    left: 0;
    right: 0;
  }
}
