@import "~assets/styles/media.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  height: 64px;
  background: linear-gradient(180deg, #0B0B0C 11.77%, rgba(11, 11, 12, 0) 100%);

  @media screen and (min-width: $desktop) {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    padding: 0;
    position: relative;
  }

  &:after {
    display: none;
    @media screen and (min-width: $desktop) {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(251, 191, 154, 0.3) -4.09%, rgba(255, 232, 118, 0.3) 9.96%, rgba(18, 249, 248, 0.3) 28.24%, rgba(156, 253, 130, 0.3) 55.1%, rgba(252, 241, 110, 0.3) 78.52%, rgba(254, 210, 146, 0.3) 105.6%);
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 892px;
  margin: 0 auto;

  & > span {
    line-height: 160%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
}

.logoIcon {
  position: relative;
  filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.55));
}

.logoContainer {
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: #B7F201;
  width: 86px;
  height: 2px;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.logo {
  margin: 0 auto;
}

.hamburger {
  position: absolute;
  right: 20px;
}

.menu {
  background-color: #171718;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 40;
  transform: translate(100%, 0px);
  transition: transform 0.5s ease-out;
}

.active {
  transform: translate(0px, 0px);
}

.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.close {
  position: absolute;
  right: 24px;
  top: 13px;
}

.menuContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 115px);
}

.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 17px;
  padding: 0 20px;
}

.menuItem {
  font-family: 'Hanson', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border-bottom: 1px solid #343A3D;
  width: 100%;
  padding: 28px 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 42px;
}
