@import "~assets/styles/media.scss";
@import "~assets/styles/mixins.scss";

.sliderNav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: fit-content;
  align-items: center;
  margin-right: 13px;
}

.sliderCount {
  display: flex;
  justify-content: center;

  font-family: 'Hanson', sans-serif;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #343a3d;
  margin-top: 6px;

  @media screen and (min-width: $desktop){
    font-size: 24px;
  }
}

.arrowSlider {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  $sizeArrowBtn: 54px;
  width:  $sizeArrowBtn;
  height:  $sizeArrowBtn;
  padding: 12px;

  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .5s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgba(45, 49, 50, 0.72)
    }
  }

  &:active {
    background-color: rgba(35, 38, 40, 0.74);
  }

  img {
    width: 100%;
  }

  &.flip {
    transform: rotateZ(180deg);

    &.animateByClick {
      animation-duration: .25s;
      animation-name: animateByClickRightArrow;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }
  }

  &.animateByClick {
    animation-duration: .25s;
    animation-name: animateByClickLeftArrow;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
  }
}

@keyframes animateByClickLeftArrow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateByClickRightArrow {
  0% {
    transform: rotateZ(180deg) scale(1);
  }

  50% {
    transform: rotateZ(180deg) scale(0.98);
  }

  100% {
    transform: rotateZ(180deg) scale(1);
  }
}

.activeSlide {
  color: #fff;
  margin-right: 10px;
}


@media screen and (max-width: $m-desktop) {
  .containerSliderSection  {
    grid-template-columns: 1fr;
  }

  .arrowSlider {
    width: 42px;
    height: 42px;
    padding: 8px;
  }

  .sliderCount {
    font-size: 14px;
    margin: 0 50px;
  }

  .sliderNav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
  }
}
