@import "~assets/styles/media.scss";
@import "~assets/styles/mixins.scss";

.sliderNav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: fit-content;
  align-items: center;
  margin-right: 13px;
}

.sliderCount {
  display: flex;
  justify-content: center;

  font-family: 'Hanson', sans-serif;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #343a3d;
  margin-top: 6px;

  @media screen and (min-width: $desktop){
    font-size: 24px;
  }
}

.arrowSlider {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  padding: 12px;

  border: 2px solid #fff;
  border-radius: 50%;

  img {
    width: 100%;
  }

  &.flip {
    transform: rotateZ(180deg);
  }
}

.activeSlide {
  color: #fff;
  margin-right: 10px;
}


@media screen and (max-width: $m-desktop) {
  .containerSliderSection  {
    grid-template-columns: 1fr;
  }

  .arrowSlider {
    width: 42px;
    height: 42px;
    padding: 8px;
  }

  .sliderCount {
    font-size: 14px;
    margin: 0 50px;
  }

  .sliderNav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
  }
}