@import "~assets/styles/media";

.container {
  padding: 96px 0 67px;

  @media screen and (min-width: $desktop){
    padding: 111px 0 139px;
  }
}

.title {
  font-family: 'Hanson', sans-serif;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 36px;

  @media screen and (min-width: $desktop) {
    font-size: 42px;
    padding-left: 0;
    text-align: center;
  }
}

.companies {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 24px;
  position: relative;

  & > * {
  flex-basis: 25%;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 0;
    margin: 64px 0 0 0;


    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -200px;
      width: 463px;
      height: 662px;
      background: rgba(11, 11, 12, 0.6);
      filter: blur(85px);
      transform: rotate(90deg);
    }

    &:after {
      content: "";
      background-image: url("../../../assets/images/footer-circles.png");
      position: absolute;
      height: 700px;
      top: 0;
      z-index: -5;
      left: 0;
      right: 0;
    }
  }

  &:after {
    content: "";
    background-image: url("../../../assets/images/footer-circles-mobile.png");
    position: absolute;
    height: 307px;
    top: 96px;
    z-index: -5;
    left: 0;
    right: 0;
  }
}
