@import "~assets/styles/media.scss";
@import "~assets/styles/mixins.scss";

.container {
  position: relative;
}

.wrapper {
  margin-top: 55px;
  padding: 0 20px 100px;

  @media screen and (min-width: $desktop) {
    margin-top: 121px;
    padding: 0 130px;
  }
}

.cards {
  display: block;
  width: 355px;
  margin: 83px auto 0;
}

.chineseText {
  font-family: 'DFLiKingHei1B', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.1em;
  margin-left: 87px;
}

.coin {
  display: block;
  z-index: 2;
  min-width: 274px;
  margin: 12px auto 0;
  @include prtnlSclScrnSize(width, 414)
}

.contentWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


.title {
  width: 305px;

  @media screen and (min-width: $desktop) {
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 422px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 160%;
  color: #9BA1AA;

  @media screen and (min-width: $desktop) {
    margin-top: 21px;
    color: #C1C0C0;
  }
}

.paragraph {
  margin-top: 28px;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    color: #C1C0C0;
    width: 508px;
    margin-left: 38px;
  }
}

.tableWrapper {
  position: relative;
  padding: 0 130px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    opacity: 0.3;
    background: linear-gradient(90deg, rgba(112, 101, 85, 1) 0%, rgba(52, 115, 106, 1) 27%, rgba(95, 115, 79, 1) 63%, rgba(112, 105, 84, 1) 100%);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    opacity: 0.3;
    background: linear-gradient(90deg, rgba(112, 101, 85, 1) 0%, rgba(52, 115, 106, 1) 27%, rgba(95, 115, 79, 1) 63%, rgba(112, 105, 84, 1) 100%);
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: $s-tablet) {
  .coin {
    @include prtnlSclScrnSize(width, 274)
  }
}
