.accordionContainer {
  margin-top: 42px;
}

.container {
  padding: 221px 0 72px;
}

.paragraph {
  margin-top: 28px;
}

.content {
  padding: 0 20px;
}

.title {
  padding-left: 24px;
}

.subtitle {
  margin-top: 11px;
  width: 299px;
}
