@import "../../../assets/styles/media.scss";
@import "../../../assets/styles/mixins.scss";

.accordionContainer {
  margin-top: 42px;
}

.container {
  padding: 220px 0 70px;

  @media screen and (max-width: $desktop){
    padding: 220px 0 120px;
  }
}

.paragraph {
  text-align: right;
  font-size: 16px;
  color: #C1C0C0;
  margin-right: 40px;
}

.content {
  padding: 0 20px;
}

.titleWrapper {
  display: grid;
  grid-template-columns: 49.6% 50.4%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 120px;
}

.title {
  line-height: 120%;
  letter-spacing: 0.03em;
  font-size: 64px;
}

.accordionSubtitle {
  margin-top: 15px;
}

.columnSubtitle {
  color: #C1C0C0;
  font-size: 16px;
  margin-top: 16px;
}

.table {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  margin-top: 87px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background:linear-gradient(90deg, rgba(48, 41, 33, 1) 0%, rgba(30, 46, 39, 1) 20%, rgba(16, 47, 45, 1) 33%, rgba(33, 56, 38, 1) 50%, rgba(38, 46, 29, 1) 69%, rgba(47, 45, 27, 1) 84%, rgba(105, 145, 84, 1) 100%);
  }
}

@media screen and (max-width: $desktop) {
  .titleWrapper {
    padding: 0 20px;
  }

  .title {
    @include prtnlSclScrnSize(font-size, 70);
  }

  .paragraph {
    @include prtnlSclScrnSize(font-size, 23);
    @include prtnlSclScrnSize(margin-right, 40);
  }
}

@media screen and (max-width: $tablet) {
  .titleWrapper {
    grid-template-columns: 1fr;
  }

  .title {
    order: 1;
    font-size: 36px;
  }

  .paragraph {
    order: 2;
    font-size: 14px;
    text-align: left;
    @include prtnlSclScrnSize(margin-top, 90);
  }
}

@media screen and (max-width: $m-mobile) {
  .titleWrapper {
    grid-template-columns: 1fr;
  }

  .title {
    order: 1;
    font-size: 36px;
  }

  .paragraph {
    order: 2;
    font-size: 14px;
    text-align: left;
  }
}
