@import "~assets/styles/media.scss";
@import "~assets/styles/mixins.scss";

.containerSliderSection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  padding: 0 0 150px 130px;
  max-width: 1440px;
  margin: 0 auto;
}

.greenText {
  text-transform: uppercase;
  position: relative;

  background: linear-gradient(90deg, #FBBF9A -4.09%, #FFE876 9.96%, #12F9F8 28.24%, #9CFD82 55.1%, #FCF16E 78.52%, #FED292 105.6%), #B7F201;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.marketplaceTitle {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 28px;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
    margin-left: 42px;
  }
}

.content {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    padding-left: 42px;
    justify-content: space-between;
    padding-top: 6px;
  }
}

.personalizeline {
  height: 85%;
}

.paragraph {
  font-size: 16px;
  line-height: 160%;
  margin-top: 34px;
  margin-left: 5px;
  width: 411px;
  color: #C1C0C0;
}

.personalizeContainer {
  /* background-image: url("~assets/images/personalize.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  padding: 130px 20px 0;

  /* &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 215px;
    background: linear-gradient(180deg, #0B0B0C 0%, rgba(0, 0, 0, 0) 96.17%);
    transform: rotate(-180deg);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 215px;
    background: linear-gradient(180deg, #0B0B0C 0%, rgba(0, 0, 0, 0) 96.17%);
  } */

  @media screen and (min-width: $desktop) {
    // background-image: url("~assets/images/marketplaceDesktop.webp");
    margin-left: -4px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 233px;
  }

  @media screen and (min-width: $m-desktop) {
    padding: 30px 191px 0 233px;
  }
}

.contentBlock {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

.desktopNavSlider {
  padding-left: 43px;
}

.mobileVersion {
  display: none;
}


@media screen and (max-width: $l-desktop) {
  .containerSliderSection {
    gap: 10vw;
  }
}

@media screen and (max-width: $m-desktop) {
  .desktopVersion {
    display: none;
  }

  .mobileVersion {
    display: grid;
    grid-template-columns: 1fr;
    padding: 150px 0 50px;
  }

  .contentBlock {
    grid-template-rows: 1fr;
    padding: 0 120px;
  }

  .mobileNavSlider {
    margin-top: 25px !important;
  }

  .slider {
    @include prtnlSclScrnSize(margin-top, 100);
  }

  .desktopNavSlider {
    display: none !important;
  }

  .containerSliderSection  {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .arrowSlider {
    @include prtnlSclScrnSize(width, 60);
    @include prtnlSclScrnSize(height, 60);
  }
}

@media screen and (max-width: $desktop) {

  .contentBlock {
    grid-template-rows: 1fr;
    padding: 0 20px;
  }
}


