@import "../../../assets/styles/media.scss";

.container {
  padding: 0 20px;
  position: relative;
  height: 750px;
  margin-top: 100px;
}

.title {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
    margin-left: 42px;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    padding-left: 42px;
    padding-top: 6px;
  }
}

.paragraph {
  width: 411px;
  font-size: 16px;
  line-height: 160%;
  margin-top: 34px;
  margin-left: 5px;
  color: #C1C0C0;
}

.sliderNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.sliderCount {
  font-family: 'Hanson', sans-serif;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #343a3d;
}

.activeSlide {
  color: #fff;
}

.personalizeContainer {
  background-image: url("../../../assets/images/personalize.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 843px;
  margin-top: -147px;
  padding: 202px 20px 0;

  @media screen and (min-width: $desktop) {
    background-image: url("../../../assets/images/marketplaceDesktop.png");
    display: flex;
    flex-direction: column;
    padding: 220px 191px 56px 233px;
  }
}
