@import "~assets/styles/media.scss";
@import "~assets/styles/mixins.scss";

.containerSliderSection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  padding: 150px 0 150px 130px;
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}

.personalizeTitle {
  font-size: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.personalizeParagraph {
  font-size: 18px;
  line-height: 160%;
  color: #C1C0C0;
  margin-top: 24px;
  margin-left: 32px;
}

.marketplaceTitle {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
    margin-left: 42px;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    padding-left: 42px;
    padding-top: 6px;
  }
}

.paragraph {
  font-size: 16px;
  line-height: 160%;
  margin-top: 34px;
  margin-left: 5px;
  color: #C1C0C0;
}

.personalizeContainer {
  background-image: url("../../../assets/images/personalize.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 843px;
  margin-top: -147px;
  padding: 100px 20px 0;

  @media screen and (min-width: $desktop) {
    background-image: url("../../../assets/images/marketplaceDesktop.png");
    display: flex;
    flex-direction: column;
    padding: 220px 191px 56px 233px;
  }
}

.desktopNavSlider {
  margin-top: 200px;
  margin-left: 32px;
}

.mobileNavSlider {
  display: none !important;
}

@media screen and (max-width: $l-desktop) {
  .containerSliderSection {
    @include prtnlSclScrnSize(gap, 100);
  }
}

@media screen and (max-width: $m-desktop) {
  .personalizeParagraph {
    display: none;
  }

  .slider {
    @include prtnlSclScrnSize(margin-top, 80);
  }

  .desktopNavSlider {
    display: none !important;
  }

  .mobileNavSlider {
    display: grid !important;
    margin: 0 auto;
    @include prtnlSclScrnSize(margin-top, 50);
    padding-right: 120px;
    width: 270px !important;
  }

  .containerSliderSection  {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .arrowSlider {
    @include prtnlSclScrnSize(width, 60);
    @include prtnlSclScrnSize(height, 60);
  }
}