.navItem {
  line-height: 160%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.navItem.active {
  &:before {
    content: '';
    position: absolute;
    top: -19px;
    right: 0;
    left: 0;
    height: 2px;
    background: #B7F201;
  }
}
