.navItem {
  line-height: 160%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  color: #979BA9;
}

.navItem.active {
  color: white;
  text-shadow: white 0 0 10px;

  &:before {
    content: '';
    position: absolute;
    top: -19px;
    right: 0;
    left: 0;
    height: 3px;
		background: linear-gradient(
			90deg,
			#ffe876 -2.92%,
			#12f9f8 17.93%,
			#9cfd82 62.9%,
			#fcf16e 85.83%,
			#fed292 105.6%
		);
		border-radius: 50px;
  }
}

.navItem:hover {
  color: white;
  text-shadow: white 0 0 10px;
}
