.navItem {
  line-height: 160%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  color: #979BA9;
}

.navItem.active {
  color: white;
  text-shadow: white 0 0 10px;

  &:before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: -19px;
    right: 0;
    left: 0;
    height: 2px;
    background: #B7F201;
  }
}

.navItem:hover {
  color: white;
  text-shadow: white 0 0 10px;
}
