.topContainer {
  padding: 79px 20px 0;
}

.container {
  padding-bottom: 160px;
}

.title {
  margin-left: 30px;
}


.chineseText {
  font-family: 'DFLiKingHei1B', sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.welcome {
  font-family: 'Hanson', sans-serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 22px;
  margin-bottom: 5px;
}

.code {
  display: block;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.8em;
  color: #9BA1AA;
  margin-top: 11px;
  margin-bottom: 24px;
}

.cityContainer {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/images/city.png");
  height: 635px;
  margin-top: -53px;
  z-index: -5;
}

.cityContainer:before {
  content: "";
  position: absolute;
  height: 265px;
  left: 0;
  top: -1px;
  width: 100%;
  background: linear-gradient(180deg, #0B0B0C 0%, rgba(0, 0, 0, 0) 96.17%);
}

.cityText {
  font-size: 20px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.08em;
  height: 78px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 308px;
  margin-top: 88px;
  margin-left: auto;
  margin-right: 21px;
  z-index: 5;
  border-right: 3px solid #fff;
  padding-right: 22px;
}

.cityCircle {
  position: absolute;
  bottom: -70px;
  z-index: 6;
}

.greenCity {
  position: absolute;
  right: 62px;
  bottom: 251px;
}

.light {
  position: absolute;
  width: 291.5px;
  height: 214px;
  rotate: 338deg;
  right: 44px;
  bottom: 53px;
  background: linear-gradient(206.29deg, rgba(255, 255, 255, 0.4) 8.58%, rgba(255, 255, 255, 0) 40.78%);
}

.cityContainer:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 215px;
  width: 100%;
  background: linear-gradient(180deg, #0B0B0C 0%, rgba(0, 0, 0, 0) 96.17%);
  transform: rotate(-180deg);
}
