@import "../../../assets/styles/variables.scss";

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 29px;
  padding-bottom: 20px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    height: 1px;
    background: #343A3D;
  }
}

.title {
  font-family: 'Big Pixel', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.08em;
}
