@font-face {
    font-family: 'Big Pixel';
    font-style: normal;
    font-weight: normal;
    src: local('Big Pixel Light Demo Regular'), url('Big Pixel Light demo.woff') format('woff');
}


@font-face {
    font-family: 'Big Pixel';
    font-style: normal;
    font-weight: normal;
    src: local('Big Pixel Shadowed Demo Regular'), url('Big Pixel Shadow demo.woff') format('woff');
}


@font-face {
    font-family: 'Big Pixel';
    font-style: normal;
    font-weight: normal;
    src: local('Big Pixel Demo Regular'), url('Big Pixel demo.woff') format('woff');
}
