@import "~assets/styles/media.scss";
@import "~assets/styles/mixins.scss";

.slider {
	position: relative;
	display: flex;
	overflow: hidden;
}

.shadow {
	position: absolute;
	right: 0;

	height: 100%;
	width: 25%;

  z-index: 999;

  // generator: https://cssgradient.io/
	background: linear-gradient(
		90deg,
		rgba(14, 14, 15, 0) 0%,
		rgba(14, 14, 15, 0.5) 50%,
		rgba(14, 14, 15, 1) 100%
	);
}

@media screen and (max-width: $m-desktop) {
  .slider  {
    width: 50%;
    left: 50%;
    transform: translateX(calc(-270px / 2));
  }
}

@media screen and (max-width: $tablet) {
  .slider  {
    width: 65%;
  }
}

@media screen and (max-width: $s-tablet) {
  .slider  {
    width: 70%;
  }
}

@media screen and (max-width: $m-mobile) {
  .slider  {
    width: 80%;
  }
}

