.slider {
  position: absolute;
  top: 70px;
  right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row {
  display: flex;
  transition: all 1s ease-in-out;
}

.sliderItem {
  //will-change: transform;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
