.phone {
  margin-top: 28px;
  margin-left: 38px;
}

.title {
  font-size: 32px;
  letter-spacing: 0.03em;
  margin-right: 36px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 60px;
}

.row {
  display: flex;
  transition: all 1s ease-in-out;
}

.sliderItem {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
}
