.column {
  border-right: 1px solid #343A3D;
  border-bottom: 1px solid #343A3D;
  padding-top: 33px;
  padding-bottom: 31px;
  padding-left: 53px;
  &:nth-child(odd) {
    background: #111113;
    padding-left: 130px;
  }
}

.titleWrapper {
  display: flex;
  text-transform: uppercase;
}

.title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  margin-left: 16px;
}
