.column {
  padding: 40px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background:linear-gradient(90deg, rgba(47, 83, 53, 1) 0%, rgba(74, 65, 45, 1) 100%);
    opacity: 0.5;
    height: 1px;
  }

  &:nth-child(odd) {
    background: rgba(17, 17, 19, 0.4);
    border-right: 1px solid rgba(47, 83, 54, 0.3);
    padding-left: 130px;
  }

  &:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(83, 69, 51, 1) 0%, rgba(24, 81, 76, 1) 60%, rgba(46, 83, 53, 1) 100%);
    opacity: 0.5;
    height: 1px;
  }
}

.titleWrapper {
  display: flex;
  text-transform: uppercase;
}

.title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  margin-left: 16px;
}


.columnSubtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #C1C0C0;
  font-size: 16px;
  margin-top: 16px;
}
