.content {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
}

.title {
  text-transform: uppercase;
  font-family: 'Hanson', sans-serif;
  font-size: 36px;
  margin-left: 28px;
  line-height: 120%;
}

.content:before {
  content: "";
  position: absolute;
  left: 2px;
  height: 100%;
  background: linear-gradient(180deg, #B7F201 0%, #E6FF98 50.31%, #B7F201 100%);
  width: 3px;
}
