@import "../../../assets/styles/media.scss";

.content {
  display: flex;
  width: fit-content;
  flex-direction: column;
  position: relative;
  color: #fff;
}

.title {
  position: relative;
  text-transform: uppercase;
  font-family: "Hanson", sans-serif;
  font-size: 36px;
  line-height: 120%;
}

// border
.content:before,
.content:after {
  content: "";
  position: absolute;
  left: 2px;
  height: 100%;
  background: linear-gradient(
      180deg,
      #fbbf9a 0%,
      #ffe876 12.81%,
      #12f9f8 29.48%,
      #9cfd82 53.96%,
      #fcf16e 75.31%,
      #fed292 100%
    ),
    linear-gradient(180deg, #b7f201 0%, #e6ff98 50.31%, #b7f201 100%);
  width: 3px;
}

.content:after {
  left: auto;
  right: 0px;
}

// before border
.isBefore.content:after {
  display: none;
}

.isBefore .title {
  margin-left: 28px;
}

// after border
.isAfter.content:before {
  display: none;
}

.isAfter .title {
  margin-right: 28px;
}
