.identifierBlock {
  display: flex;
  justify-content: space-between;
}

.fingerPrintWrapper {
  position: relative;
  padding: 5px;
}

.fingerPrint {
  height: 3.9vw;
  width: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id {
  font-family: "Hanson";
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  height: 38px;
  padding: 7px 15px;

  p {
    line-height: 1;
  }

  .eternal {
    background: linear-gradient(
      90deg,
      #fbbf9a -4.09%,
      #ffe876 9.96%,
      #12f9f8 28.24%,
      #9cfd82 55.1%,
      #fcf16e 78.52%,
      #fed292 105.6%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
