//mixins
@mixin textStyle {
  font-family: "Hanson";
  font-weight: 700;
  text-transform: uppercase;
}

@mixin eternalTextStyle {
  background: linear-gradient(
      90deg,
      #fbbf9a -4.09%,
      #ffe876 9.96%,
      #12f9f8 28.24%,
      #9cfd82 55.1%,
      #fcf16e 78.52%,
      #fed292 105.6%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

// wrapper block for id & type
.identifierBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}

// type (from the right)
.typeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.type {
  height: 2.9vw;
}

.textType {
  font-size: 1.7vw;
  padding-top: 3px;
}

//type texts
.eternal {
  @include textStyle;
  @include eternalTextStyle;
}

.classique {
  @include textStyle;
  color: #fff;
}

// id (from the left)
.id {
  position: relative;
  font-size: 32px;
  color: #fff;
  @include textStyle;
 
  height: 38px;
  padding: 7px 15px;

  p {
    line-height: 1;
  }
}
