@import "../../../../assets/styles/media.scss";

.column {
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

.text {
  font-size: 10px;
  line-height: 120%;
  margin-top: 8px;
  white-space: pre-line;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
  }
}

.grayColumn:not(:last-of-type) {
  border-right: 1px solid #585E68 !important;
}

.column:not(:last-of-type) {
  border-right: 1px solid #fff;
}

.amount {
  font-family: 'Big Pixel', sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: initial;

  @media screen and (min-width: $desktop) {
    font-family: 'Hanson', sans-serif;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
}
