@import "../../../assets/styles/media.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-top: -208px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    padding: 0 125px 0 130px;
    margin-top: 15px;
  }
}

.title {
  margin-left: 31px;

  @media screen and (min-width: $desktop) {
    width: 422px;
    font-size: 60px;
    line-height: 100%;
    margin-left: 42px;
  }
}

.paragraph {
  margin-top: 26px;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    color: #C1C0C0;
    width: 498px;
    margin-left: 43px;
    margin-top: 35px;
  }
}

.textSection {
  position: relative;
  padding: 195px 0;
}

.triangle {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 37px 20px 0 20px;
  border-color: #00f361 transparent transparent transparent;
  filter: drop-shadow(0px 6px 12px #00F361);
}

.morh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backgroundText {
  font-family: 'Hanson', sans-serif;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #737373;
  margin: 143px auto 0;
  max-width: 320px;
  order: 1;

  @media screen and (min-width: $desktop) {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    max-width: none;
    margin: 0;
    order: 0;
  }
}

.content {
  display: flex;
  margin-top: 161px;
}

.grayLine {
  position: relative;
}

.grayLine img {
  position: absolute;
  left: 10px;
  top: 9px;
}

.mobileContainer {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 78px;
    margin-top: 20px;
  }
}

.privacyText {
  position: absolute;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  top: -50px;
  left: 151px;
  width: 300px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.imageWithBorder {
  display: inline-block;
  border: 2px solid #505457;
  border-radius: 16px;
  padding: 16px 16px 7px 16px;
}

.privacyImage {
  width: 278px;
  height: 555px;
  filter: drop-shadow(24px 24px 56px rgba(0, 0, 0, 0.45));
  border-radius: 12px;
}

.imagesBlock {
  position: relative;
}

.secondImage {
  position: absolute;
  z-index: -5;
  top: 61px;
  left: 250px;
}

.smile {
  position: absolute;
  bottom: 9px;
  right: -17px;
}
