.container {
  padding: 0 20px;
  margin-top: 2px;
}

.title {
  margin-left: 31px;
}

.paragraph {
  margin-top: 26px;
}

.backgroundText {
  font-family: 'Hanson', sans-serif;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #737373;
  margin: 143px auto 0;
  max-width: 320px;
}

.grayLine {
  position: relative;
}

.grayLine img {
  position: absolute;
  left: 10px;
  top: 9px;
}
