$color: white;
$wb: 1px;
$-wb: -1px;
$durationAnim: 0.16s;

@mixin activeCard {
	filter:
    drop-shadow($wb $wb 0 $color) drop-shadow($-wb $wb 0 $color)
		drop-shadow($wb $-wb 0 $color) drop-shadow($-wb $-wb 0 $color)
    drop-shadow(0 0 10px rgba($color, 0.75)) !important;
  transition: all $durationAnim ease-out;
}

@mixin focusCard {
	filter: drop-shadow(0 0 10px rgba($color, 0.75)) !important;
  transition: all $durationAnim ease-out;
}

.isActive {
  @include activeCard;
}

.cardNotActive {
  filter:
    drop-shadow($wb $wb 0 rgba($color, 0)) 
    drop-shadow($-wb $wb 0 rgba($color, 0))
    drop-shadow($wb $-wb 0 rgba($color, 0)) 
    drop-shadow($-wb $-wb 0 rgba($color, 0))
    drop-shadow(0 0 0 rgba($color, 0));
  transition: all $durationAnim ease-out;
}

.morphsCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.4vw;
	width: 100%;
  align-self: baseline;

	img {
    position: relative;
		width: 6.52vw;
		cursor: pointer;
    z-index: 10;

		&:not(.isActive):hover {
			@include focusCard;
		}
	}
}
