@import "../../../assets/styles/variables";

.topBlock {
  background-image: url("../../../assets/images/top-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  min-height: 100vh;
  position: relative;
}

.mainBlock {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

.playBtn {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 12px;
  color: #fff;
  height: 35px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(4px);
  margin-top: 27px;
}

.playText {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
}

.mainText {
  font-family: "Hanson", sans-serif;
  color: $green;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 215px;
}

.morphImage {
  width: 375px;
  margin-top: -68px;
}

.builtOnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 85px;
  width: 100%;
  margin-left: -8px;
}

.builtOnLine {
  width: 1px;
  min-height: 100%;
  background: #737373;
}

.builtOn {
  font-family: 'Hanson', sans-serif;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: 12px;
}

.builtBy {
  display: flex;
  justify-content: space-between;
  width: 163.11px;

}

