.container {
  position: relative;
  z-index: -2;
  opacity: 0.3;
}

.background {
  position: absolute;
  top: 400px;
  left: 0;
  //object-fit: cover;
  height: 860px;
  min-width: 400px;
  width: 100%;
}

.ellipse {
  position: absolute;
  width: 246.79px;
  height: 432.48px;
  left: 40%;
  z-index: 12321321215;
  top: 700px;
  background: #0B0B0C;
  filter: blur(35px);
  transform: rotate(69.33deg);
}

