@import "~assets/styles/media.scss";

.container {
  position: relative;
  z-index: 5;
  @media screen and (min-width: $desktop) {
    background-image: url("~assets/images/freedom-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 100px;
  }
}

.topContent {
  padding: 0 20px;
  position: relative;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
}

.content {
  display: flex;
}

.chineseText {
  font-family: 'DFLiKingHei1B', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 18px;
  font-weight: 400;
}

.total {
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.paragraph {
  font-size: 13px;
  margin-top: 29px;
  padding-left: 3px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $desktop) {
    justify-content: flex-end;
    line-height: 160%;
    font-size: 16px;
    text-align: right;
    max-width: 559px;
    color: #C1C0C0;
    margin-right: 40px;
    margin-top: 0;
  }

  @media screen and (min-width: $m-desktop) {
    font-size: 18px;
  }
}

.title {
  margin-left: 30px;

  @media screen and (min-width: $desktop) {
    width: 500px;
    margin-left: 39px;
  }
}

.greenText {
  letter-spacing: 0.03em;
  line-height: 120%;

  @media screen and (min-width: $desktop) {
    font-size: 64px;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  background-image: url("~assets/images/face.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 571px;
  padding: 0 20px;

  @media screen and (min-width: $desktop) {
    background-image: none;
    justify-content: flex-start;
    padding-left: 315px;
    padding-top: 92px;
  }

  @media screen and (max-width: $desktop) {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 215px;
      background: linear-gradient(180deg, #0B0B0C 0%, rgba(0, 0, 0, 0) 96.17%);
      transform: rotate(-180deg);
    }
  }
}

.listContainer:before {
  content: "";
  left: 0;
  position: absolute;
  bottom: 151px;
  width: 100%;
  height: 255px;
  background: linear-gradient(180deg, #0B0B0C 0%, rgba(0, 0, 0, 0) 96.17%);

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.listParagraph {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  min-width: 296px;
  line-height: 160%;

  @media screen and (min-width: $desktop) {
    width: 503px;
    font-size: 18px;
    color: #C1C0C0;
  }
}
