/**
  * @info
  * if you change params here
  * you should also change there: 
  * src/utils/media.js
  */
$s-mobile: 360px;
$m-mobile: 414px;
$l-mobile: 480px;
$s-tablet: 565px;
$tablet: 768px;
$desktop: 1024px;
$m-desktop: 1200px;
$l-desktop: 1440px;