@import '~assets/styles/media.scss';

//mixins
@mixin textStyle {
  font-family: "Hanson";
  font-weight: 700;
  text-transform: uppercase;
}

@mixin eternalTextStyle {
  background: linear-gradient(270.97deg, #FFE876 -13.18%, #12F9F8 24.05%, #9CFD82 83.91%, #FCF16E 113.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

// wrapper block for id & type
.identifierBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}

// type (from the right)
.typeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.textType {
  font-size: 1.7vw;
}

//type texts
.eternal {
  @include textStyle;
  @include eternalTextStyle;
}

.classique {
  @include textStyle;
  color: #fff;
}

// id (from the left)
.id {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 32px;
  color: #fff;
  @include textStyle;
 
  height: 38px;
  padding: 0 15px;
}

@media screen and (max-width: $m-desktop) {
	.id {
    font-size: 2.5vw;
	}

  .textType {
    display: none;
  }

  .type {
    margin-top: -1px;
  }
}

@media screen and (max-width: $desktop) {
	.morphsContainer {
    display: none;
	}

  .textType {
    display: none;
  }

  .type {
    height: auto;
  }
}

@media screen and (max-width: $tablet) {
	.id {
    font-size: 24px;
	}

  .identifierBlock {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 380px) {
	.id {
    width: fit-content;
  }
  
  .identifierBlock {
    gap: 15px;
  }
}

